{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block title %}密码重置{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">
                <br>
                <h3>密码重置</h3>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>忘记密码了？在下方输入您的邮箱，我们将会向您发送邮件以重置密码！</p>
                <form action="{% url 'account_reset_password' %}" class="password_reset"method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">邮箱：</label>
                        <input type="email" class="form-control"id="password_reset_email" name="email"autofocus="autofocus"required>
                    </div>
                    <button type="submit" class="btn btn-primary">重置密码</button>
                    <p>如果您在重置密码时遇到任何问题，请与我们联系。</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
