{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户信息{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="col-md-4">用户名：{{user.username}}</div>
            <br>
            {% if profile.avatar %}
            <div class="col-md-4">头像</div>
            <img src="{{profile.avatar.url}}" style="max-width:20%;border-radius:50%"class="col-md-4" alt="用户头像">
            {% else %}
            <h5 class="col-md-4">暂无头像</h5>
            {% endif %}
            <br>
            <br>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="form-group">
                    <label for="avatar">上传头像</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <div class="form-group">
                    <label for="phone">电话</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{profile.phone}}">
                </div>
                 <div class="form-group">
                    <label for="bio">简介</label>
                     <textarea name="bio" id="bio" class="form-control"  rows="12">{{profile.bio}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">更新</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}