{% load notifications_tags %}
{% notifications_unread as unread_count %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a href="{% url 'article:article_list' %}" class="navbar-brand">我的博客</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#main_navbar" aria-controls="main_navbar"
                aria-expanded="false" aria-label="Main navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="" class="nav-link">文章</a>
                </li>
                <li class="nav-item active">
                    <a href="" class="nav-link">照片</a>
                </li>
                <li class="nav-item active">
                    <a href="" class="nav-link">关于</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                 {% if user.is_authenticated %}
                    <li class="nav-item dropdown ">
                        {#                小红点+用户名#}
                        <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if unread_count %}
                                <svg viewBox="0 0 8 8"
                                     width="8px"
                                     height="8px"
                                >
                                    <circle cx="4" cy="4" r="4" fill="#ff6b6b"></circle>
                                </svg>
                            {% endif %}
                            {{ user.username }}</a>
                        {#                下拉菜单#}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{% url 'notice:list' %}" class="dropdown-item">通知
                                {% if unread_count %}
                                    <span class="badge badge-danger">{{ unread_count }}</span>
                                {% endif %}
                            </a>
                            <a href="{% url 'userprofile:logout' %}" class="dropdown-item">退出登录</a>
                            <a href="#" class="dropdown-item" onclick="user_delete()">删除用户</a>
                            {% if user.is_authenticated %}
                                {#                            安全删除的表单#}
                                <form
                                        action="{% url 'userprofile:delete' user.id %}"
                                        style="display:none;"
                                        id="user_delete"
                                        method="POST"
                                >
                                    {% csrf_token %}
                                    <button type="submit">发送</button>
                                </form>
                                {#                            安全删除的script#}
                                <script>
                                    function user_delete() {
                                        layer.open({
                                            title: "确认删除",
                                            content: "确认删除用户资料吗？",
                                            yes: function (index, layero) {
                                                $('form#user_delete button').click();
                                                layer.close(index);
                                            }
                                        })
                                    }
                                </script>
                            {% endif %}
                            <a href="{% url 'userprofile:edit' user.id %}" class="dropdown-item">个人信息</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">登录</a></li>
                {% endif %}
            </ul>
        </div>


    </div>
</nav>
